<div class="container">
    <h2>Centro de mensajes</h2>
<input type="email" placeholder="coder@outlook.com" id="email" name="email">
</div>
<hr>
<div id="chat" class="container">
    
</div>
<div class="container">
    <input type="text" id="mensaje" placeholder="ingresa un mensaje..." name="mensaje">
    <button class="btn btn-success" id="mensajeBtn">Enviar</button>
</div>